<%= event.text_field :name, :placeholder => "Name" %>
<%= event.text_field :description, :placeholder => "Desc." %>
<%= event.text_field :total_cost, :placeholder => "Total cost" %>

<%= event.fields_for :payments, @event.payments.new do |payment_form| %>
  <%= payment_form.select :user_id, options_for_select(User.all.map{|u|[u.name,u.id]}) %>
  <%= payment_form.text_field :supposed_to_give_amount, :placeholder => "Supposed to give" %>
  <%= payment_form.text_field :given_amount, :placeholder => "Given Amount" %>
  <%= payment_form.text_field :balance_amount, :placeholder => "Balance amount" %>
  <%= payment_form.link_to_remove "Remove this payer" %>
<% end %>
<p><%= event.link_to_add "Add Payer", :payments %></p>